body {
  background-color: #083b4c;
}

.container h1 {
  font-size: 5rem;
}

.col {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.value-box {
  width: 100px;
  aspect-ratio: 1/1;
  background-color: #1389b2;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.3rem;
  font-weight: 600;
}

.value-box.fizz-buzz {
  background-color: #f0466f;
}

.value-box.fizz {
  background-color: #0cd6a1;
}

.value-box.buzz {
  background-color: #ffd166;
}
